body {
  background-color: black;
}

html * {
  color: white;
}

button {
  background-color: black;
}

#showDimsText {
  color: black;
}

#showLayersText {
  color: black;
}

.prestige {
  border-radius: 4px;
	transition: 0.2s;
}
